<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body>
    <header>
        <%- include ('../partials/navbar') %>
    </header>
    <main class="mt-5">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6 mb-4 text-center ">
                    <img src="<%= book.cover %>" class="w-75 h-100" alt="Portada" style="object-fit: cover;" />
                </div>
                <div class="col-md-6 mb-4">
                    <div class="p-3">
                        <div class="mb-3">
                            <% genres.forEach(genre => { %>
                                <span class="badge bg-dark me-1"><%= genre %></span>
                            <% }) %>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <strong><p style="font-size: 20px;"><%= book.title %></p></strong>
                            <div>
                                <% authors.forEach(author => { %>
                                    <p class="fw-bold mb-1"><%= author %></p>
                                <% }) %>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="fw-bold">Editorial: <%= book.publisher %></p>
                                <hr>
                                <p class="fw-bold">Páginas: <%= book.pages %></p>
                                <hr>
                                <p class="fw-bold">ISBN: <%= book.isbn %></p>
                                <hr>
                            </div>
                            <div>
                                <% if (book.copiesAvailable == 1 && book.isReserved == true) { %>
                                    <p class="fw-bold text-danger text-center">Copia reservada</p>
                                <% } else if (book.isReserved == true && book.copiesAvailable >= 1) { %>
                                    <p class="fw-bold text-success text-center">Copias disponibles: <%= book.copiesAvailable - 1%></p>
                                <% } else if (book.copiesAvailable > 0) { %>
                                    <p class="fw-bold text-success text-center">Copias disponibles: <%= book.copiesAvailable %></p>
                                <% } else { %>
                                    <p class="fw-bold text-danger text-center">Copias disponibles: 0</p>
                                <% } %>
                            </div>
                        </div>
                        <p><%= book.summary %></p>
                        <% if (book.isReserved) { %>
                            <div class="d-flex justify-content-left">
                                <button class="btn btn-outline-dark" disabled>Reservado</button>
                            </div>
                        <% } else { %>
                            <div class="d-flex justify-content-left">
                                <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#reservation" onclick="fillReservation(`<%= book.isbn %>`)">Reservar</button>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </main>
    
    <!-- Reservation modal -->
    <div class="modal top fade" id="reservation" tabindex="-1"
        aria-hidden="true" data-bs-backdrop="true" data-bs-keyboard="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reservar este libro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/newreservation" method="post" class="needs-validation" novalidate>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="reservationDate" class="form-label">Fecha de la reserva</label>
                                <input type="date" class="form-control" id="reservationDate" name="reservationDate" required>
                                <div class="invalid-feedback">
                                    Por favor ingresa la fecha de reserva
                                </div>
                            </div>
                            <div class="col">
                                <label for="expirationDate" class="form-label">Fecha de expiración</label>
                                <input type="date" class="form-control" id="expirationDate" name="expirationDate" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="book" class="form-label">Libro</label>
                                <input type="text" class="form-control" id="book" name="book" readonly>
                            </div>
                            <div class="col">
                                <label for="document" class="form-label">Documento</label>
                                <% if (locals.userAuthenticated) { %>
                                    <input type="text" class="form-control" id="document" name="document" value="<%= user.document %>" readonly>
                                <% } else { %>    
                                    <input type="text" class="form-control" id="document" name="document" required>
                                    <div class="invalid-feedback">
                                        Por favor ingresa un documento de identidad registrado
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" id="reserveBtn" class="btn btn-outline-dark">Reservar <i class="bi bi-calendar-check"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/validateForm.js"></script>
    <script src="/scripts/reservation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/scripts/errorAlerts.js"></script>
    <% if (locals.error) { %>
        <script>
            errorAlert('<%= error %>');
        </script>
    <% } else if (locals.success) { %>
        <script>
            successAlert('<%= success %>');
        </script>
    <% } %>
</body>
</html>