<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/adminHead') %>
    <%- include ('../partials/adminDatatable') %>
</head>

<body>
    <header>
        <%- include ('../partials/adminNavbar') %>
    </header>
    <main>
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-end">
                <a class="btn btn-outline-dark" href="registerbook">Registrar libro <i class="bi bi-book"></i></a>
            </div>
        </div>
        <div class="container">
            <div class="table-responsive">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Editorial</th>
                            <th>Géneros</th>
                            <th>Ejemplares</th>
                            <th>Ejemplares disponibles</th>
                            <th>Reservado</th>
                            <th>Ejemplares prestados</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% books.forEach(book=> { %>
                            <tr>
                                <td>
                                    <%= book.isbn %>
                                </td>
                                <td>
                                    <%= book.title %>
                                </td>
                                <td>
                                    <%= book.author %>
                                </td>
                                <td>
                                    <%= book.publisher %>
                                </td>
                                <td>
                                    <%= book.genres %>
                                </td>
                                <td>
                                    <%= book.copies %>
                                </td>
                                <td>
                                    <%= book.copiesAvailable %>
                                </td>
                                <td>
                                    <% if (book.isReserved) { %>
                                        <span class="badge bg-success">Sí</span>
                                    <% } else { %>
                                        <span class="badge bg-danger">No</span>
                                    <% } %>
                                </td>
                                <td>
                                    <%= book.copiesLoaned %>
                                </td>
                                <td class="d-flex flex-column align-items-center">
                                    <button class="btn btn-outline-warning mb-1" data-bs-toggle="modal" data-bs-target="#editModal" onclick="fillBookData(`<%= book._id %>`, `<%= book.isbn %>`, `<%= book.title %>`, `<%= book.author %>`, `<%= book.publisher %>`, `<%= book.genres %>`, `<%= book.copies %>`)"><i class="bi bi-pencil-square"></i></button>
                                    <button class="btn btn-outline-danger" onclick="deleteRecord(`deletebook/<%= book._id %>`)"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar información</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="updatebook" method="post">
                        <input id="id" name="id" type="hidden">
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" id="isbn" name="isbn"
                                placeholder="ISBN" required>
                            <label for="isbn">ISBN</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="title" name="title"
                                placeholder="Título" required>
                            <label for="title">Título</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="author" name="author"
                                placeholder="Autor" required>
                            <label for="author">Autor(es) (Separados por coma)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="publisher" name="publisher"
                                placeholder="Editorial">
                            <label for="publisher">Editorial</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="genres" name="genres"
                                placeholder="Géneros">
                            <label for="genres">Género(s) (Separados por coma)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <div class="input-group">
                                <input type="number" class="form-control" readonly id="copies" name="copies" placeholder="Copias" placeholder="Copias">
                                <button class="btn btn-outline-secondary" type="button" id="addCopiesBtn" onclick="addCopies()"><i class="bi bi-plus"></i></button>
                            </div>
                        </div>
                        <div class="mb-1">
                            <button type="submit" class="btn btn-dark btn-block">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/datatable.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/scripts/deleteRecord.js"></script>
    <script src="/scripts/editRecord.js"></script>
    <script src="/scripts/errorAlerts.js"></script>
    <% if (locals.error) { %>
        <script>
            errorAlert('<%= error %>');
        </script>
    <% } else if (locals.success) { %>
        <script>
            successAlert('<%= success %>');
        </script>
    <% } %>
</body>

</html>