<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/adminHead') %>
        <%- include ('../partials/adminDatatable') %>
</head>

<body>
    <header>
        <%- include ('../partials/adminNavbar') %>
    </header>
    <main>
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-end">
                <a class="btn btn-outline-dark" href="registerbook">Registrar libro <i class="bi bi-book"></i></a>
            </div>
        </div>
        <div class="container">
            <div class="table-responsive">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Editorial</th>
                            <th>Géneros</th>
                            <th>Ejemplares</th>
                            <th>Ejemplares disponibles</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% books.forEach(book=> { %>
                            <tr>
                                <td>
                                    <%= book.isbn %>
                                </td>
                                <td>
                                    <%= book.title %>
                                </td>
                                <td>
                                    <%= book.author %>
                                </td>
                                <td>
                                    <%= book.publisher %>
                                </td>
                                <td>
                                    <%= book.genres %>
                                </td>
                                <td>
                                    <%= book.copies %>
                                </td>
                                <td>
                                    <%= book.copiesAvailable %>
                                </td>
                                <td class="d-flex flex-column align-items-center">
                                    <a class="btn btn-outline-primary mb-1" href="editarproducto/<%= book._id %>"><i class="bi bi-pencil-square"></i></a>
                                    <button class="btn btn-outline-danger" onclick="deleteRecord(`deletebook/<%= book._id %>`)"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <script src="/scripts/datatable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/scripts/deleteRecord.js"></script>
</body>

</html>