<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/adminHead') %>
    <%- include ('../partials/adminDatatable') %>
</head>

<body>
    <header class="border-bottom">
        <%- include ('../partials/adminNavbar') %>
    </header>
    <div class="card mb-4">
        <div class="card-body d-flex justify-content-end">
            <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#registerLibrarian">Registrar empleado <i class="bi bi-person-fill-add"></i></button>
        </div>
    </div>
    <main class="mt-5">
        <div class="container">
            <div class="table-responsive">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre completo</th>
                            <th>Documento</th>
                            <th>Correo electrónico</th>
                            <th>Teléfono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% librarians.forEach(librarian => { %>
                        <tr>
                            <td><%= librarian.fullname %></td>
                            <td><%= librarian.document %></td>
                            <td><%= librarian.email %></td>
                            <td><%= librarian.phone %></td>
                            <td>
                                <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#editModal" onclick="fillData(`<%= librarian._id %>`, `<%= librarian.fullname %>`, `<%= librarian.email %>`, `<%= librarian.phone %>`)"><i class="bi bi-pencil-square"></i></button>
                                <button class="btn btn-outline-danger" onclick="deleteRecord(`deleteuser/<%= librarian._id %>`)"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar información</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="updatelibrarian" method="post">
                        <input id="id" name="id" type="hidden">
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" id="fullname" name="fullname" pattern="[A-Za-záéíóúÁÉÍÓÚ\s]+"
                                placeholder="Nombre" required>
                            <label for="email">Nombre</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Email" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="phone" name="phone"
                                placeholder="Teléfono" required pattern="[0-9]{7,}">
                            <label for="email">Teléfono</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Contraseña">
                            <label for="email">Contraseña</label>
                        </div>
                        <div class="mb-1">
                            <button type="submit" class="btn btn-dark btn-block">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Librarian -->
    <div class="modal fade" id="registerLibrarian" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar nuevo bibliotecólogo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="register" method="post" class="needs-validation" novalidate>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="fullname" name="fullname"
                                placeholder="Nombre completo" required pattern="[A-Za-záéíóúÁÉÍÓÚ\s]+">
                            <label for="fullname">Nombre completo</label>
                            <div class="invalid-feedback">
                                Por favor ingresa el nombre completo
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="document" name="document"
                                placeholder="Documento" required pattern="[0-9]{8,}">
                            <label for="document">Documento</label>
                            <div class="invalid-feedback">
                                Por favor ingresa el documento
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            <label for="email">Email</label>
                            <div class="invalid-feedback">
                                Por favor ingresa el email
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="phone" name="phone"
                                placeholder="Teléfono" required pattern="[0-9]{7,}">
                            <label for="phone">Teléfono</label>
                            <div class="invalid-feedback">
                                Por favor ingresa el teléfono
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Contraseña" required minlength="8">
                            <label for="password">Contraseña</label>
                            <div class="invalid-feedback">
                                Por favor ingresa una contraseña de 8 caracteres
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <select name="role" id="role" class="form-select">
                                <option value="librarian">Bibliotecólogo</option>
                                <option value="admin">Administrador</option>
                            </select>
                            <label for="role">Rol</label>
                            <div class="invalid-feedback">
                                Por favor seleccione el rol
                            </div>
                        </div>
                        <input type="text" hidden  name="role" value="librarian">
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-dark btn-block" >Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/datatable.js" defer></script>
    <script src="/scripts/validateForm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/scripts/deleteRecord.js"></script>
    <script src="/scripts/editRecord.js"></script>
    <script src="/scripts/errorAlerts.js"></script>
    <% if (locals.error) { %>
        <script>
            errorAlert('<%= error %>');
        </script>
    <% } else if (locals.success) { %>
        <script>
            successAlert('<%= success %>');
        </script>
    <% } %>
</body>
</html>