<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/adminHead') %>
        <%- include ('../partials/adminDatatable') %>
</head>

<body>
    <header>
        <%- include ('../partials/adminNavbar') %>
    </header>
    <main>
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-end">
                <button class="btn btn-outline-dark" onclick="fillData(`<%= librarian.document %>`)" data-bs-toggle="modal" data-bs-target="#registerLoan">Registrar préstamo <i class="bi bi-upload"></i></button>
            </div>
        </div>
        <div class="container">
            <div class="table-responsive">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha de préstamo</th>
                            <th>Fecha de devolución</th>
                            <th>Libro</th>
                            <th>Usuario</th>
                            <th>Bibliotecólogo</th>
                            <th>Renovar</th>
                            <th>Registrar devolución</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% loans.forEach(loan=> { %>
                            <tr>
                                <td>
                                    <%= loan.loanDate.toLocaleDateString() %>
                                </td>
                                <td>
                                    <%= loan.returnDate.toLocaleDateString() %>
                                </td>
                                <td>
                                    <%= loan.book.title %>
                                </td>
                                <td>
                                    <%= loan.user.fullname %>
                                </td>
                                <td>
                                    <%= loan.librarian.fullname %>
                                </td>
                                <td>
                                    <% if (loan.returnDate > new Date()) { %>
                                        <button class="btn btn-outline-warning" onclick="extendLoan(`<%= loan._id %>`, `<%= loan.returnDate %>`)" data-bs-toggle="modal" data-bs-target="#extendLoan"><i class="bi bi-arrow-clockwise"></i></button>
                                    <% } else { %>
                                        <button class="btn btn-outline-danger" disabled><i class="bi bi-arrow-clockwise"></i></button>
                                    <% } %>
                                </td>
                                <td>
                                    <button class="btn btn-outline-success"><i class="bi bi-download"></i></button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- New Loan Modal -->
    <div class="modal top fade" id="registerLoan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="true" data-bs-keyboard="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo préstamo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="newloan" method="post" class="needs-validation" novalidate>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="loanDate" class="form-label">Fecha de préstamo</label>
                                <input type="date" class="form-control" id="loanDate" name="loanDate">
                            </div>
                            <div class="col">
                                <label for="returnDate" class="form-label">Fecha de devolución</label>
                                <input type="date" class="form-control" id="returnDate" name="returnDate">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="book" class="form-label">ISBN del libro</label>
                                <input type="text" class="form-control" id="book" name="book" required>
                                <div class="invalid-feedback">
                                    Por favor ingresa el ISBN del libro
                                </div>
                            </div>
                            <div class="col">
                                <label for="user" class="form-label">Documento del usuario</label>
                                <input type="text" class="form-control" id="user" name="user" required>
                                <div class="invalid-feedback">
                                    Por favor ingresa el documento del usuario
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="librarian" class="form-label">Bibliotecólogo</label>
                                <input type="text" class="form-control" id="librarian" name="librarian" required>
                                <div class="invalid-feedback">
                                    Por favor ingresa el documento del bibliotecólogo
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-outline-dark">Registrar préstamo <i
                                        class="bi bi-upload"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Extend Loan -->
    <div class="modal top fade" id="extendLoan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-backdrop="true" data-bs-keyboard="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Extender préstamo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="extendloan" method="post" class="needs-validation" novalidate>
                        <input type="hidden" id="id" name="id">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="returnDate" class="form-label">Nueva fecha de devolución</label>
                                <input type="date" class="form-control" id="returnDate" name="returnDate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-outline-dark">Extender préstamo <i class="bi bi-arrow-clockwise"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/datatable.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/scripts/errorAlerts.js"></script>
    <script src="/scripts/validateForm.js"></script>
    <script src="/scripts/registerLoan.js"></script>
    <% if (locals.error) { %>
        <script>
            errorAlert('<%= error %>');
        </script>
    <% } else if (locals.success) { %>
        <script>
            successAlert('<%= success %>');
        </script>
    <% } %>
</body>

</html>