<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/navbar.ejs') %>
    </header>
    <main>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">
                                <%= user.fullname %>
                            </h5>
                            <% if (user.role== 'librarian' ) { %>
                                <p class="text-muted mb-1">Bibliotecólogo</p>
                            <% } else if (user.role == 'admin') { %>
                                <p class="text-muted mb-1">Administrador</p>
                            <% } else {%>
                                <p class="text-muted mb-1">Usuario</p>
                            <% } %>
                        </div>
                    </div>
                    <% if (user.isPenalized == true) { %>
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body p-0">
                                <div class="alert alert-danger mb-0" role="alert">
                                    <i class="bi bi-exclamation-triangle-fill"></i> Estás sancionado hasta el <%= penalty.penaltyTime.toISOString().slice(0, 10) %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Nombre completo</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= user.fullname %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= user.email %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Teléfono</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= user.phone %>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Documento</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        <%= user.document %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4 text-center fw-bold">Préstamos</p>
                                    <% if (loans.length == 0) { %>
                                        <p class="text-center text-muted">No tienes préstamos en este momento</p>
                                    <% } else { %>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Libro</th>
                                                    <th scope="col">Detalles</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% loans.forEach(loan => { %>
                                                    <tr>
                                                        <td>
                                                            <%= loan.book.title %>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-outline-dark"><i class="bi bi-eye"></i></button>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4 text-center fw-bold">Reservas</p>
                                    <% if (reservations.length == 0) { %>
                                        <p class="text-center text-muted">No tienes reservas en este momento</p>
                                    <% } else { %>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Libro</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% reservations.forEach(reservation => { %>
                                                    <tr>
                                                        <td>
                                                            <%= reservation.book.title %>
                                                        </td>
                                                        <td class="d-flex flex-wrap justify-content-evenly">
                                                            <button class="btn btn-outline-dark"><i class="bi bi-eye"></i></button>
                                                            <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#editReservationModal" onclick="fillReservationData(`<%= reservation._id %>`, `<%= reservation.reservationDate %>`, `<%= reservation.expirationDate %>`)"><i class="bi bi-pencil"></i></button>
                                                            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#cancelModal" onclick="cancelReservation(`cancelreservation/<%= reservation._id %>`)"><i class="bi bi-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-3 d-flex flex-row justify-content-evenly align-items-center card p-4">
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="deleteAccount(`deleteaccount/<%= user._id %>`)">Eliminar cuenta</button>
                    <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#editModal" onclick="fillData(`<%= user._id %>`, `<%= user.fullname %>`, `<%= user.email %>`, `<%= user.phone %>`)">Editar perfil</button>
                </div>
            </div>
        </div>
    </main>
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar acción</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea eliminar su cuenta? Esta acción no se puede deshacer.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" id="confirmDelete">Confirmar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Cancel Reservation -->
    <div class="modal fade" id="cancelModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmar acción</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea cancelar la reserva?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" id="confirmCancel">Confirmar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar información</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="updateprofile" method="post">
                        <input id="id" name="id" type="hidden">
                        <div class="form-floating mb-3 mt-3 pe-4 ps-4">
                            <input type="text" class="form-control" id="fullname" name="fullname"
                                placeholder="Nombre" required>
                            <label class="ps-5" for="fullname">Nombre</label>
                        </div>
                        <div class="form-floating mb-3 pe-4 ps-4">
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Email" required>
                            <label class="ps-5" for="email">Email</label>
                        </div>
                        <div class="form-floating mb-3 pe-4 ps-4">
                            <input type="number" class="form-control" id="phone" name="phone"
                                placeholder="Teléfono" required>
                            <label class="ps-5" for="phone">Teléfono</label>
                        </div>
                        <div class="form-floating mb-3 pe-4 ps-4">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Contraseña">
                            <label class="ps-5" for="password">Contraseña</label>
                        </div>
                        <div class="ps-4 mb-1">
                            <button type="submit" class="btn btn-dark btn-block">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Reservation Modal -->
    <div class="modal fade" id="editReservationModal" tabindex="-1"aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar reserva</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="updatereservation" method="post">
                        <input id="reservationId" name="id" type="hidden">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="reservationDate" class="form-label">Fecha de la reserva</label>
                                <input type="date" class="form-control" id="reservationDate" name="reservationDate" required>
                                <div class="invalid-feedback">
                                    Por favor ingresa la fecha de reserva
                                </div>
                            </div>
                            <div class="col">
                                <label for="expirationDate" class="form-label">Fecha de expiración</label>
                                <input type="date" class="form-control" id="expirationDate" name="expirationDate" readonly>
                            </div>
                        </div>
                        <div class="mb-1">
                            <button type="submit" class="btn btn-dark btn-block">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/scripts/deleteRecord.js"></script>
    <script src="/scripts/editRecord.js"></script>
    <script src="/scripts/errorAlerts.js"></script>
    <% if (locals.error) { %>
        <script>
            errorAlert('<%= error %>');
        </script>
    <% } else if (locals.success) { %>
        <script>
            successAlert('<%= success %>');
        </script>
    <% } %>
</body>

</html>