<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/adminHead') %>
    <%- include ('../partials/adminDatatable') %>
</head>

<body>
    <header class="border-bottom">
        <%- include ('../partials/adminNavbar') %>
    </header>
    <main>
        <div class="container mt-4">
            <div class="table-responsive">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha de reserva</th>
                            <th>Fecha de expiración</th>
                            <th>Libro</th>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% reservations.forEach(reservation => { %>
                        <tr>
                            <td><%= reservation.reservationDate.toISOString().slice(0, 10) %></td>
                            <td><%= reservation.expirationDate.toISOString().slice(0, 10) %></td>
                            <td><%= reservation.book.title %></td>
                            <td><%= reservation.user.document %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <script src="/scripts/datatable.js" defer></script>
</body>
</html>