<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/adminHead') %>
    <%- include ('../partials/adminDatatable') %>
</head>

<body>
    <header>
        <%- include ('../partials/adminNavbar') %>
    </header>
    <main>
        <div class="card mb-4">
            <div class="card-body d-flex justify-content-end">
                <a class="btn btn-outline-dark" href="registroproductos">Registrar usuario <i
                        class="bi bi-person-add"></i></a>
            </div>
        </div>
        <div class="container">
            <div class="table-responsive">
                <table id="example" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre completo</th>
                            <th>Documento</th>
                            <th>Correo electrónico</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.fullname %></td>
                            <td><%= user.document %></td>
                            <td><%= user.email %></td>
                            <td><%= user.phone %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <script src="/scripts/datatable.js"></script>
</body>
</html>